**/.idea
**/pickled
**/cifar10
**.png
**.jpg
**.pkl
**.mdl
**.optim
**.schdlr
**.zip
**/saved_models_whatsapp
**/assets/whatsapp**.txt
**/elbo.pdf
**.optim
**.model
**copy.py
**/data
**/datasets
**/images**
**/images_amazing